$back-drop-background: rgb(0, 0, 0, 0.5);
$first-color-website: rgb(3, 38, 104);
$second-color-website: rgb(141, 177, 231);
$main-font: Arial, Helvetica, sans-serif;
$footer-background-color: #424242;
