$back-drop-background: rgb(0, 0, 0, 0.5);
$first-color-website: rgb(3, 38, 104);
$second-color-website: rgb(141, 177, 231);
$main-font: Arial, Helvetica, sans-serif;
$footer-background-color: #424242;

#overview {
  width: 100vw;
  height: 80vh;

  background: linear-gradient(to bottom, $second-color-website, transparent),
    url(../image/overview1.png) center/cover no-repeat fixed;
}

.section_title {
  color: $first-color-website;
  text-align: center;
  font-size: 32px;
  margin-bottom: 50px;
}

.plan_list {
  width: 66%;
  margin: auto;
}

.plan {
  width: 100%;
  padding: 16px;
  margin: 8px;
  text-align: center;
  color: #424242;
  box-shadow: 5px 25px 15px $second-color-website;
  border-radius: 10px;
}

.middle_plan {
  border-radius: 5px;
  background-color: $first-color-website;
  color: aliceblue;
  font-family: sans-serif;
}

.highlighted_plan {
  background-color: $second-color-website;
  padding: 4px;
  margin: 0px;
  border-radius: 5px;
  color: $footer-background-color;
}

.plan_feature {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.plan_features {
  padding: 0;
  margin: 8px 8px;
}

.plan_btn {
  color: $first-color-website;
  background: $second-color-website;
  padding: 8px 16px;
  margin: 8px;
  border-radius: 5px;
  outline: none;
  font: inherit;
  font-weight: bold;
  border: none;
}

#features {
  background: rgb(226, 226, 226);
  margin-top: 80px;
  padding: 16px;

  .section_title {
    color: $first-color-website;
    margin: 30px;
    text-align: center;
  }
}

.list_services {
  display: inline;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.services {
  font-size: large;
  margin-top: 32px;
}

@media (min-width: 40rem) {
  #overview {
    width: 100vw;
    height: 80vh;
  }

  .plan {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    padding: 16px;
    margin: 8px;
    text-align: center;
    color: #424242;
    box-shadow: 5px 25px 15px $second-color-website;
    border-radius: 10px;
  }
  .services {
    font-size: large;
    margin-top: 32px;
    display: inline-block;
    width: 32%;
  }
  .middle_plan {
    border-radius: 5px;
    background-color: $first-color-website;
    color: aliceblue;
    font-family: sans-serif;
  }
}

.description {
  color: $footer-background-color;
  font-weight: bold;
  text-align: center;
}

.image_format {
  background: $first-color-website;
  height: 128px;
  width: 128px;
  border-radius: 50%;
  margin: auto;
}

.modal {
  background-color: white;
  position: fixed;
  padding: 1.7rem;
  margin: 1.5rem;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  border-radius: 10px;
  box-shadow: 1px 1px 1px $first-color-website;
}

.modal_title {
  text-align: center;
  margin: 0 0 1rem 0;
}
.modal_actions {
  text-align: center;
  padding: 1rem;
}

.modal_action {
  border: 1px solid $first-color-website;
  text-decoration: none;
  background-color: $first-color-website;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border-radius: 5px;
}

.modal_action_negative {
  border: 1px solid red;
  text-decoration: none;
  background-color: red;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border-radius: 5px;
}
