$back-drop-background: rgb(0, 0, 0, 0.5);
$first-color-website: rgb(3, 38, 104);
$second-color-website: rgb(141, 177, 231);
$main-font: Arial, Helvetica, sans-serif;
$footer-background-color: #424242;
* {
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  margin: 0;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 1rem auto fit-content(8rem);
}

main {
  grid-area: main;
}

.main-header {
  padding: 8px 16px;
  background-color: $first-color-website;
  width: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_header_logo {
  color: $second-color-website;
  text-decoration: none;
  font-size: 22px;
}
.main_nav {
  display: flex;
}

.main_nav_items {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  a {
    color: $second-color-website;
    text-decoration: none;
  }
}

.main_nav_item {
  margin: 0rem 1rem;
  font-size: larger;
}

.main_nav_items a:hover,
.main_nav_items a:active {
  color: rgb(182, 194, 212);
}

.main_nav_items_style--Account {
  a {
    background: whitesmoke;
    color: rgb(55, 113, 199);
    text-decoration: none;
    border-radius: 8px;
    padding: 8px 16px;
  }
  a:hover,
  a:active {
    color: $first-color-website;
  }
}

.main_footer {
  background-color: $footer-background-color;
  padding: 32px 32px;
  grid-area: footer;
}

.main_footer_links {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.main_footer_link {
  margin: 10px 16px;
  padding: 0 16px;
}
.main_footer_link {
  a {
    text-decoration: none;
    color: aliceblue;
  }
  a:hover,
  a:active {
    color: grey;
  }
}

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $back-drop-background;
  display: none;
}
