* {
    box-sizing: border-box;
    
    }
    
    body {
        font-family:Arial, Helvetica, sans-serif;
        margin: 0;
    }
    
    
    .main-header {
    padding: 8px 16px ;
    background-color: rgb(3, 38, 104);
    width: 100%;
    position: fixed;
    z-index: 1;
    }
    
    
    .main-header > div {
    display: inline-block;
    vertical-align: middle;
    
    }
    
    .main_header_logo{
    color: rgb(141, 177, 231);
    text-decoration: none;
    font-size: 22px;
    
    }
    .main_nav{
    display: inline-block;
    width: calc(100% - 70px);
    text-align: right;
    vertical-align: middle;
    }
    
    .main_nav_items{
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;
    }
    
    
    .main_nav_item{
    display: inline-block;
    margin: 8px 16px;
    font-size: larger;}
    
    .main_nav_items a{
        color: rgb(141, 177, 231);
    text-decoration: none;
    }
    
    .main_nav_items a:hover,
    .main_nav_items a:active{
    color: rgb(182, 194, 212);
    }
    
    
    .main_nav_items_style--Account a{
    background: whitesmoke;
    color: rgb(55, 113, 199);
    text-decoration: none;
    border-radius: 8px;
    padding: 8px 16px;
    }
    
    .main_nav_items_style--Account a:hover,
    .main_nav_items_style--Account a:active{
    color:rgb(3, 38, 104) ;
    }


    
.main_footer{
    background-color: #424242;    padding: 32px 32px;
    }
    
    
    .main_footer_links{
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    }
    .main_footer_link{
    margin: 10px 16px;
    display: inline-block;
    padding: 0 16px;
    }
    .main_footer_link a{
    text-decoration: none;
    color: aliceblue;
    }
    
    .main_footer_link a:hover,
    .main_footer_link a:active{
        color: #948e8e;
    
    }
